<ul class="contayner-fluid d-flex flex-wrap justify-content-around" style="list-style-type:none;">
  <li *ngFor="let user of users" [class.selected]="user === selectedUser" (click)="onSelect(user)">
    <div class="alert alert-primary" role="alert" style="width:300px; ">
      <span>{{user.id}} {{user.name}}<br>
        {{user.address}}
      </span>
    </div>
  </li>
</ul>

<div *ngIf="selectedUser" class="contayner-fluid alert alert-dark mb-3" role="alert" style="width:400px; margin:0 auto;">
  <h2>{{selectedUser.name}}</h2>
  <p>Редактирование:</p>
  <div>
    <label for="fio">ФИО: </label>
    <ngx-dadata [config]="configFio" id="fio" [(ngModel)]="selectedUser.name" placeholder="name"></ngx-dadata>
    <label for="address">Адресс: </label>
    <ngx-dadata [(ngModel)]="selectedUser.address" [config]="configAddress" id="address" placeholder="address">
    </ngx-dadata>
  </div>
</div>